.articles__card-image-hint {
    box-sizing: border-box;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color: #000000;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 14px 10px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    position: absolute;
    top: 24px;
    right: 70px;
}