.card__image-hint {
  box-sizing: border-box;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: #000000;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 14px 10px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  position: absolute;
  top: 24px;
  right: 70px;
}

@media screen and (max-width: 1310px) {
  .card__image-hint {
    top: 8px;
    right: 55px;
    padding: 14px 5px;
  }
}

@media screen and (max-width: 1100px) {
  .card__image-hint {
    font-size: 9px;
  }
}

@media screen and (max-width: 550px) {
  .card__image-hint {
    font-size: 12px;
  }
}
