.articles__title {
    font-family: Roboto Slab,Helvetica,Arial,sans-serif;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    font-weight: 400;
    margin: 0 auto 0;
    max-width: 1232px;
    width: calc(100% - 208px);
    padding-top: 80px;
}

@media screen and (max-width: 1130px) {
    .articles__title   {   
        width: calc(100% - 80px);
        padding-top: 32px;
        font-size: 30px;
        line-height: 34px;
    }
}

@media screen and (max-width: 550px) {
    .articles__title   {   
        width: calc(100% - 32px);
    }
}