.popup__button-close {
    width: 40px;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    background: transparent;
    border: none;
    height: 40px;
    padding: 0;
    background-image: url(../../../images/close-popup.svg);
}

@media screen and (max-width: 550px) {
    .popup__button-close {   
        right: 15px;
        width: 16px;
        height: 16px;
        background-position: 50%;
    }
}