.popup__button-close {
    width: 40px;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    background: transparent;
    border: none;
    height: 40px;
    padding: 0;
}