.card__image-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background: #FFFFFF;
    cursor: pointer;
    padding: 0;
}

.card__image-button:focus {
    outline: 1px solid #347EFF;
}

@media screen and (max-width: 1310px) {
    .card__image-button  {   
        top: 8px;
        right: 8px;
    }
}