@import url(./_close/header__hamburger_close.css);
@import url(./_open/header__hamburger_open.css);

.header__hamburger {
    background: transparent;
    border: none;
    display: none;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .header__hamburger   {   
        display: inline;
    }
}