.card__info-text {
    font-size: 16px;
    line-height: 22px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}