.header__nav_gamburger-grey {
    background: #B6BCBF;
}

@media screen and (max-width: 767px) {
    .header__nav_gamburger-grey  {   
        padding: 60px 40px 30px;
    }
}

@media screen and (max-width: 550px) {
    .header__nav_gamburger-grey   {   
        padding: 70px 16px 24px;
    }
}