.articles__card-image-keyword {
    box-sizing: border-box;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color: #000;
    border-radius: 10px;
    background-color: #fff;
    padding: 9px 10px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    position: absolute;
    top: 24px;
    left: 24px;
}